<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ patronDetails?.name }}</h1>
    <p class="patron-details" *ngIf="patronDetails">
      {{ patronDetails?.city }}, {{ patronDetails?.state }}
      <br>
      {{ patronDetails?.phone }}
    </p>
  </div>
</div>
<br>
<p-tabView>
  <p-tabPanel header="Transactions">
    <div class="container">
      <p-table [value]="transactions">
        <ng-template pTemplate="header">
          <tr>
            <th>Bar Name</th>
            <th>Item Purchased</th>
            <th>Date and Time</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction>
            <tr>
                <td>
                    {{ transaction?.barName }}
                </td>
                <td>{{ transaction?.itemName }}</td>
                <td>{{ transaction?.timeStamp }}</td>
              </tr>
        </ng-template>
      </p-table>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Bar Graphs of Beers">
      <div class="container">
        <br>
        <div id="beerGraph"></div>
      </div>
  </p-tabPanel>
  <p-tabPanel header="Bar Graphs of Spending">
    <div class="container">
      <br>
      <div id="spentGraph"></div>
    </div>
  </p-tabPanel>
</p-tabView>
<br>
<br>
<br>