<div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
                <h1 class="display-4">Welcome to the Modification Page!</h1>
                <p class="lead"><br>To INSERT, please enter values.<br> To MODIFY, please enter values for primary key and also whatever values you want to update.<br> To DELETE, please enter values for the primary key for the row you want to delete.</p>
        </div>
</div>
<br>
<form class="text-center">
        <h1>BARS</h1>
        License: <input type="text"><br>
        Name: <input type="text"><br>
        City: <input type="text"><br>
        State: <input type="text"><br>
        Opening: <input type="text"><br>
        Closing: <input type="text"><br>
        <input type="submit" value="Insert"><input type="submit" value="Modify"><input type="submit" value="Delete"><br><br>
</form>
<form class="text-center">
        <h1>CONSUMABLES</h1>
        name: <input type="text"><br>
        <input type="submit" value="Insert"><input type="submit" value="Modify"><input type="submit" value="Delete"><br><br>
</form>
<form class="text-center">
        <h1>BEERS</h1>
        name: <input type="text"><br>
        type: <input type="text"><br>
        manufacturer: <input type="text"><br>
        <input type="submit" value="Insert"><input type="submit" value="Modify"><input type="submit" value="Delete"><br><br>
</form>
<form class="text-center">
        <h1>SODAS</h1>
        name: <input type="text"><br>
        flavor: <input type="text"><br>
        <input type="submit" value="Insert"><input type="submit" value="Modify"><input type="submit" value="Delete"><br><br>
</form>
<form class="text-center">
        <h1>FOODS</h1>
        name: <input type="text"><br>
        cuisine: <input type="text"><br>
        <input type="submit" value="Insert"><input type="submit" value="Modify"><input type="submit" value="Delete"><br><br>
</form>
<form class="text-center">
        <h1>PATRONS</h1>
        name: <input type="text"><br>
        phone: <input type="text"><br>
        city: <input type="text"><br>
        state: <input type="text"><br>
        <input type="submit" value="Insert" onclick="onClick()"><input type="submit" value="Modify"><input type="submit" value="Delete"><br><br>
</form>
<form class="text-center">
        <h1>BILLS</h1>
        transid: <input type="text"><br>
        bar_license: <input type="text"><br>
        patron_phone: <input type="text"><br>
        timestamp: <input type="text"><br>
        <input type="submit" value="Insert"><input type="submit" value="Modify"><input type="submit" value="Delete"><br><br>
</form>
<form class="text-center">
        <h1>SELLS</h1>
        bar_license: <input type="text"><br>
        consumable_name: <input type="text"><br>
        price: <input type="text"><br>
        <input type="submit" value="Insert"><input type="submit" value="Modify"><input type="submit" value="Delete"><br><br>
</form>
<form class="text-center">
        <h1>FREQUENTS</h1>
        phone: <input type="text"><br>
        bar_license: <input type="text"><br>
        <input type="submit" value="Insert"><input type="submit" value="Modify"><input type="submit" value="Delete"><br><br>
</form>
<form class="text-center">
        <h1>LIKES</h1>
        phone: <input type="text"><br>
        consumable_name: <input type="text"><br>
        <input type="submit" value="Insert"><input type="submit" value="Modify"><input type="submit" value="Delete"><br><br>
</form>