<div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
                <h1 class="display-4" *ngIf="barDetails"> {{ barDetails?.Name }} </h1>
                <p class="lead" *ngIf="barDetails">
                        <br>
                        {{barDetails?.City}}, {{barDetails?.State}}
                        <br>
                        Hours: {{ barDetails?.Opening}} - {{barDetails?.Closing}}
                        <br><br>
                        <i><small>License: {{barLicense}} </small></i>
                </p>
        </div>
</div>
<br>
<p-tabView>
        <p-tabPanel header="Top Five Patrons">
          <div class="container">
                  <br>
                <div id ="patronGraph"></div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Most Popular Beers">
            <div class="container">
                <br>
                <div id ="itemGraph"></div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Most Popular Manufacturers">
          <div class="container">
                 <br>
                <div id ="manfGraph"></div>
          </div>
        </p-tabPanel>
      </p-tabView>
<br>
<br>
<br>


