<div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
                <h1 class="display-4" *ngIf="beerDetails"> {{ beerName }}</h1>
                <p class="lead" *ngIf="beerDetails">
                        <i>Manufactured by {{beerDetails?.manufacturer}}</i>
                        <br>
                        Type: {{beerDetails?.type}}
                </p>
        </div>
</div>

<div class="container" *ngIf="barsList">
        <h2 class="text-center">Bars that Offer {{beerName}}</h2>
        <p-table [value]= "barsList">
                <ng-template pTemplate= "header">
                        <tr>
                                <th>Bar</th>
                                <th>Price</th>
                        </tr>
                </ng-template>
                <ng-template pTemplate= "body" let-bar>
                        <tr>
                                <td><a routerLink="/bars/{{ bar.license }}"> {{ bar.barName }}</a></td>
                                <td>{{ bar.price | currency }} </td>
                        </tr>
                </ng-template>
        </p-table>
</div>

<!-- WIP -->
<!-- WIP -->
<!-- WIP -->

<div class="container" *ngIf="topBars">
        <h2 class="text-center">Top Sellers</h2>
        <p-table [value]= "topBars">
                <ng-template pTemplate= "header">
                        <tr>
                                <th>Bar</th>
                                <th>Number of {{ beerName }} sold</th>
                        </tr>
                </ng-template>
                <ng-template pTemplate= "body" let-topbar>
                        <tr>
                                <td>{{ topBar.name }}</td>
                                <td>{{ topBar.sold }}</td>
                        </tr>
                </ng-template>
        </p-table>
</div>

<!-- WIP -->
<!-- WIP -->
<!-- WIP -->


<br><br>