<div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
                <h1 class="display-4" *ngIf="beerDetails"> {{ beerName }}</h1>
                <p class="lead" *ngIf="beerDetails">
                        <i>Manufactured by {{beerDetails?.manufacturer}}</i>
                        <br>
                        Type: {{beerDetails?.type}}
                </p>
        </div>
</div>

<div class="container">
        <br>
        <div id="bargraph"></div>
</div>


<div class="container" *ngIf="barsList">
        <h2 class="text-center">Bars that Sold {{beerName}}</h2>
        <p-table [value]= "barsList" [paginator]="true" rows="20">
                <ng-template pTemplate= "header">
                        <tr>
                                <th>Bar</th>
                                <th>Price</th>
                                <th>Amount Sold</th>
                        </tr>
                </ng-template>
                <ng-template pTemplate= "body" let-bar>
                        <tr>
                                <td><a routerLink="/bars/{{ bar.license }}"> {{ bar.barName }}</a></td>
                                <td>{{ bar.price | currency }} </td>
                                <td>{{ bar.amount }}</td>
                        </tr>
                </ng-template>
        </p-table>
</div>

<br><br>

<div class="container" *ngIf="patronsList">
        <h2 class="text-center">Patrons who Bought {{beerName}}</h2>
        <p-table [value]= "patronsList" [paginator]="true" rows="20">
                <ng-template pTemplate= "header">
                        <tr>
                                <th>Patron</th>
                                <th>Amount Purchased</th>
                        </tr>
                </ng-template>
                <ng-template pTemplate= "body" let-patron>
                        <tr>
                                <td><a routerLink="/patrons/{{ patron.phone }}">{{ patron.name }} </a></td>
                                <td>{{ patron.amount }}</td>
                        </tr>
                </ng-template>
        </p-table>
</div>


<br><br>