<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Bar Consumable Patron!</h1>
    <p class="lead">blah blah text</p>
  </div>
</div>

<!-- Table for getBars() -->
<div class="container">
        <p-table [value]= "bars">
                <ng-template pTemplate= "header">
                        <tr>
                                <th>License</th>
                                <th>Name</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Opening</th>
                                <th>Closing</th>
                        </tr>
                </ng-template>
                <ng-template pTemplate= "body" let-bar>
                        <tr>
                                <td>{{ bar.License }}</td>
                                <td><a routerLink="/bars/{{ bar.License }}">{{ bar.Name }}</a></td>
                                <td>{{ bar.City }}</td>
                                <td>{{ bar.State }}</td>
                                <td>{{ bar.Opening }}</td>
                                <td>{{ bar.Closing }}</td>
                        </tr>
                </ng-template>
        </p-table>
</div>
<br><br>
        
